* {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.to-do-app{
    /* border: 2px dashed red; */
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    margin: 3rem auto 1rem;
    padding:2rem 1rem 3rem;
    border-radius: 10px;
    
}
.to-do-app h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #0093e9;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(187, 238, 238, 0.933);
    border-radius: 20px;
    padding-left: 1rem;
    margin-bottom: 1.5rem;
    
}
#input-box{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-weight: 14px;
    letter-spacing: 3px;
    
    
}
button{
    /* margin: 1rem; */
    color: white;
    letter-spacing: 3px;
    background-color: #0093e9;
    padding: .5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s all;
    &:hover{
        outline: 2px solid #0093e9;
        background-color: #fff;
        color: #0093e9;
    }
}
ul li{
    list-style: none;
    font-size: 17px;
    padding:1rem 2rem ;
    letter-spacing: 2px;
    /* position: relative; */
}
ul li::before{
    content: "☑️";
    /* position: absolute; */
    height: 28px;
    width: 28px;
    
}
ul li#checked{
    color: #555;
    text-decoration: line-through;
}


ul li#checked::before{
    content: "✅";
    
}

ul li span{
    position: absolute;
    right: 0;
    top:5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}

ul li span:hover{
    background-color: #0093e9;
}